* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #0d6efd;
}

menu {
    background-color: #0d6efd;
}

header {
    min-width: 500px;
}

.recipe_container {
    margin: 1rem 0;
    border:  solid #6b6b6b4d;
    border-radius: 0.25rem;
    padding: 1rem;
}

#bbqpork {
    object-position: -50% 40%;
}

#birria {
    object-position: 0% 60%;
}

.menubar {
    display: flex;
    width: 100%;
    margin: 0px 0px 0px -8px;
    height: 90px;
    background-color: rgb(100, 175, 237);
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.recipe_page {
    display: flex;
    justify-content: space-between;
}

.mainbody {
    flex: 2;
    min-width: 500px;
}

.sidecolumn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.recipe_pic {
    height: 293px;
    width: 350px;
    object-fit:cover;
}

.component {
    font-family: "Helvetica", "Verdana", sans-serif;
    font: size 48px;
    font-weight: 500;
}

.name {
    font-family: "Helvetica", "Verdana", sans-serif;
    font: size 72px;
    font-weight: 500;
}

.description {
    font-family: "Helvetica", sans-serif;
    font: size 56px;
    font-weight: bolder;
}

.ingredients {
    font-family: "Helvetica", sans-serif;
    font: size 56px;
    font-weight: bolder;
}

.steps {
    font-family: "Helvetica", sans-serif;
    font: size 56px;
    font-weight: bolder;
}

.stepinfo{
    font-weight: normal;
}

ol li {
    font-weight: bold;
    line-height: 1.6;
}

ul li {
    line-height: 1.6;
}

.recipeheading {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
}

.homepic {
    height: 200px;
    width: 250px;
    object-fit:cover;
    display: flex;
    border: 4px solid black;
    border-radius: 10% 25%;   
    flex-basis: auto;
    flex: 1;
}

.homepic:hover {
    border: 5px solid rgb(100, 175, 237);
}

.homediv {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 30px;
}

.spot1 {
    width: 250px;
    text-align: center;
    
}

.spot2 {
    width: 250px;
    text-align: center;
}

.spot3 {
    width: 250px;
    text-align: center;
}

.recipelink {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.recipelink:hover { 
    text-decoration: underline rgb(100, 175, 237);
    text-decoration-thickness: 10%;

}

.headimage {
    height: 400px;
    border-bottom: solid black 2px;
    width: 101%;
    margin-left: -8px;
}

#landingimage {
    background-image: url("pexels-lukas-952478.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;

}

.button {
    background-color: rgb(233, 233, 233);
    padding: 2px;
    border: dotted black 1px;
    border-radius: 3px;
}