* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #0d6efd;
}

.navbar-brand {
    background-color: rgba(239, 198, 95, 0.86);
    border: solid black 3px;
    border-radius: 3px
}

menu {
    background-color: #0d6efd;
}

.navtabs {
    justify-content: flex-end;
    padding-right: 80px;
}

main {
    display: flex;
    flex-direction: column;
}

.recipe_container {
    margin: 1rem 0;
    border:  solid #6b6b6b4d;
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: rgba(239, 198, 95, 0.568);
}

#bbqpork {
    object-position: -50% 40%;
}

#birria {
    object-position: 0% 60%;
}

.menubar {
    display: flex;
    width: 100%;
    margin: 0px 0px 0px -8px;
    height: 90px;
    background-color: rgb(100, 175, 237);
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.recipe_page {
    display: flex;
    justify-content: space-between;
}

.mainbody {
    flex: 2;
    min-width: 500px;
}

.sidecolumn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.sidecolumn2 {
    display: flex;
    flex: 1;
    justify-content: center;
}

@media (max-width: 800px) {
    .recipe_pic {
        display: none;
    }
}
.recipe_pic {
    height: 293px;
    width: 35vw;
    max-width: 350px;
    min-width: 100px;
    overflow: hidden;
    object-fit:cover;
    padding-top: 10px;
}

.component {
    font-family: "Helvetica", "Verdana", sans-serif;
    font: size 48px;
    font-weight: 500;
}

.name {
    font-family: "Helvetica", "Verdana", sans-serif;
    font: size 72px;
    font-weight: 500;
}

.description {
    font-family: "Helvetica", sans-serif;
    font: size 56px;
    font-weight: bolder;
}

.ingredients {
    font-family: "Helvetica", sans-serif;
    font: size 56px;
    font-weight: bolder;
}

.steps {
    font-family: "Helvetica", sans-serif;
    font: size 56px;
    font-weight: bolder;
}

.stepinfo{
    font-weight: normal;
}

ol li {
    font-weight: bold;
    line-height: 1.6;
}

ul li {
    line-height: 1.6;
}

.recipeheading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
}

.homepic {
    height: 200px;
    width: 250px;
    object-fit:cover;
    display: flex;
    border: 4px solid black;
    border-radius: 10% 25%;   
    flex-basis: auto;
    flex: 1;
}

.homepic:hover {
    border: 5px solid rgb(100, 175, 237);
}

.homediv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
}

#toggleorder {
    width: 100px;
}

.spot {
    width: 250px;
    text-align: center;
}

.recipelink {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.recipelink:hover { 
    text-decoration: underline rgb(100, 175, 237);
    text-decoration-thickness: 10%;

}

.homecarousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
}

.overlay { 
    color:#fff;
    position:absolute;
    z-index:12;
    top:29%;
    left:0;
    width:100%;
    text-align:center;
  }

.carousel {
    width:640px;
    height:360px;
  }

a {
    text-decoration: none;
    color: black;

}

a.navlink {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a.navlink:hover {
    color:#fff
}

.button {
    background-color: rgb(233, 233, 233);
    padding: 2px;
    border: dotted black 1px;
    border-radius: 3px;
}

.loginmain {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 100px;
}

#loginmenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    width: 50vw;
    height: 50vh;
    justify-content: space-evenly;
    border: solid black 1px;
    border-radius: 3px;
    background-color: rgba(239, 198, 95, 0.568);
}

#logoutmenu {
    align-items: center;
    width: 50vw;
    height: 50vh;
    border: solid black 1px;
    border-radius: 3px;
    background-color: rgba(239, 198, 95, 0.568);
    margin-bottom: 20vh;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 3in;
}

.myLikesMenu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 100px;
}

.ideaMain {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#myLikesObjects, #ideaMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    width: 50vw;
    height: 50vh;
    justify-content: space-evenly;
    border: solid black 1px;
    border-radius: 3px;
    background-color: rgba(239, 198, 95, 0.568);
}

#ideaMenu {
    min-width: 120px;
    width:100vw;
    height: 70vh;
}

.citation {
    color: darkgray;
}

#personalStatement {
    font-size: large;
    font-weight: 500;
    color:rgba(239, 198, 95, 0.86);
}

#comments {
    margin-bottom: 10px;
}

.comment {
    border: solid rgb(138, 138, 138) 1px;
    border-radius: 10px 10px 0px 10px;
    padding: 3px;
    margin: 10px;
    background-color: #ebebeb;
}

.commentSection {
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
    min-width: 200px;
    margin-top: 20px;
    border: solid rgba(239, 198, 95, 0.568) 5px;
    border-radius: 3px;
}

#logoutHeader {
    font-size: 2em;
    padding: 0.5em;
}

#loggedUser {
    color: rgb(100, 175, 237);
    font-size: 2em;
    padding: 0.5em;
}

.liked_image, #newRecipeImage {
    height: 200px;
    width: 200px;
    max-width: 350px;
    min-width: 100px;
    overflow: hidden;
    object-fit:cover;
    border: solid black 4px;
}

#newRecipeImage {
    height: 300px;
    width: 300px;
}

#newRecipe, .myLikes {
    max-width: 300px;
    min-width: 100px;
    text-align: center;
    color: rgb(100, 175, 237);
    font-size: 1.5em;
    padding: 0.5em;
}

.myLikes {
    font-size: 1.5em;
    color: #0d6efd;
    text-decoration: none;
}

.myLikes:hover {
    text-decoration: underline dotted;
}

#likesHeader {
    text-align: center;
    font-size: 3.0em;
    font-weight: 500;
    border: solid red 5px;
    padding: 20px;
    border-radius: 3px;
}